 <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bienvenue chez fly invictus</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="{{ asset('back/assets/vendors/mdi/css/materialdesignicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('back/assets/vendors/css/vendor.bundle.base.css') }}">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="{{ asset('back/assets/css/style.css') }}">
        <!-- End layout styles -->
        

        <style>
            #registration_form_agreeTerms{
                margin-top: -16px;
            }

            ul{
                background-color: #ff2828;
                border-radius: 9px;
            }
            .card{
                border: 2px solid white;
            }
        </style>
    </head>
    <body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-center mb-3">Sign up</h3>

                            {{ form_start(registrationForm , {'attr' : {'novalidate' : 'novalidate'}}) }}
                            {{ form_errors(registrationForm.nom , {'attr' : {'class' : ' alert alert-danger label'}}) }}
                            <div class="input-group input-group-merge input-group-alternative mb-3">

                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="mdi mdi-account"></i></span>
                                </div>
                                {{ form_widget(registrationForm.nom  , {'attr' : {'class' : 'form-control p_input' , 'placeholder' : 'first name'}}) }}
                            </div>
                            {{ form_errors(registrationForm.prenom  , {'attr' : {'class' : 'label' }}) }}
                            <div class="input-group input-group-merge input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="mdi mdi-account"></i></span>
                                </div>
                                {{ form_widget(registrationForm.prenom  , {'attr' : {'class' : 'form-control p_input' , 'placeholder' : 'last name'}}) }}
                            </div>
                            {{ form_errors(registrationForm.email  , {'attr' : {'class' : 'label' }}) }}
                            <div class="input-group input-group-merge input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="mdi mdi-email"></i></span>
                                </div>
                                {{ form_widget(registrationForm.email  , {'attr' : {'class' : 'form-control ' , 'placeholder' : 'email'}}) }}
                            </div>
                            {{ form_errors(registrationForm.plainPassword  , {'attr' : {'class' : 'label' }}) }}
                            <div class="input-group input-group-merge input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="mdi mdi-lock"></i></span>
                                </div>
                                {{ form_widget(registrationForm.plainPassword  , {'attr' : {'class' : 'form-control' , 'placeholder' : 'Password','novalidate' : 'novalidate'}}) }}
                            </div>
                            {{ form_errors(registrationForm.numtel  , {'attr' : {'class' : 'label'}}) }}
                            <div class="input-group input-group-merge input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="mdi mdi-cellphone"></i></span>
                                </div>
                                {{ form_widget(registrationForm.numtel  , {'attr' : {'class' : 'form-control' , 'placeholder' : 'Phone Number'}}) }}
                            </div>
                            {{ form_errors(registrationForm.username  , {'attr' : {'class' : 'label' }}) }}
                            <div class="input-group input-group-merge input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="mdi mdi-account"></i></span>
                                </div>
                                {{ form_widget(registrationForm.username  , {'attr' : {'class' : 'form-control' , 'placeholder' : 'Username'}}) }}
                            </div>
                             {{ form_errors(registrationForm.dateNaissance , {'attr' : {'class' : ' alert alert-danger label'}}) }}
                            <div class="input-group input-group-merge input-group-alternative mb-3">

                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="mdi mdi-account"></i></span>
                                </div>
                                {{ form_widget(registrationForm.dateNaissance  , {'attr' : {'class' : 'form-control p_input' , 'placeholder' : 'date de naissance'}}) }}
                            </div>
                            {{ form_errors(registrationForm.adresse , {'attr' : {'class' : ' alert alert-danger label'}}) }}
                            <div class="input-group input-group-merge input-group-alternative mb-3">

                                <div class="input-group-prepend">
                                    <span class="input-group-text date"><i class="mdi mdi-account"></i></span>
                                </div>
                                {{ form_widget(registrationForm.adresse  , {'attr' : {'class' : 'form-control p_input' , 'placeholder' : 'adresse'}}) }}
                            </div>
                             {{ form_errors(registrationForm.captchaCode , {'attr' : {'class' : ' alert alert-danger label'}}) }}
                            <div class="input-group input-group-merge input-group-alternative mb-3">

                                <div class="input-group-prepend">
                                    <span class="input-group-text"></span>
                                </div>
                                {{ form_widget(registrationForm.captchaCode  , {'attr' : {'class' : 'form-control p_input' , 'placeholder' : 'captchaCode'}}) }}
                            </div>



                            {{ form_errors(registrationForm.agreeTerms  , {'attr' : {'class' : 'label'}}) }}
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <div class="form-check">
                                    {{ form_label(registrationForm.agreeTerms, 'Agree to the terms and services' , {'label_attr' : {'class' : 'form-check-label'}}) }}
                                    {{ form_widget(registrationForm.agreeTerms  , {'attr' : {'class' : 'form-check-input'}} ) }}
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">Sign up</button>
                            </div>
                            {{ form_end(registrationForm) }}
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <a href="{{ path('app_login') }}" class="forgot-pass"><small>Login</small></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{ asset('back/assets/vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{ asset('back/assets/js/off-canvas.js') }}"></script>
    <script src="{{ asset('back/assets/js/hoverable-collapse.js') }}"></script>
    <script src="{{ asset('back/assets/js/misc.js') }}"></script>
    <script src="{{ asset('back/assets/js/settings.js') }}"></script>
    <script src="{{ asset('back/assets/js/todolist.js') }}"></script>
    <!-- endinject -->
    </body>
    </html>

